body {
    font-family: 'comfortaaregular', sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #eee;
    background: #111;
}

#topBar {
    border-bottom: 1px solid white;
    margin-bottom: 4px;
    padding: 2%;
}

#topBar h1 {
    font-size: 3em;
}

#gallery {
    list-style: none;
    width: 80%;
    margin: 4% auto;
    column-count: 3;
    column-gap: 0;
    column-width: 200px;
    column-fill: balance;
}

#gallery a {
    margin: 0;
    height: 0;
}

#gallery img {
    display: block;
    margin: 0;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s;
}

#gallery img:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
}

#artContainer {
    margin: 8% auto;
    display: flex;
    width: 80%;
    padding: 2%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#artDetails {
    flex: 1;
}

#artDetails h1 {
    font-size: 1.2em;
    text-align: center;
    padding: 4%;
    border-bottom: 1px solid white;
}

#artDetails h2 {
    text-align: right;
    font-size: 1em;
}

#artDetails p {
    text-align: justify;
    line-height: 1;
    font-size: 0.8em;
    margin-top: 10%;
    margin-bottom: 20%;
}

#artPiece {
    flex: 3;
}

#artPiece img {
    width: 90%;
}

#footer {
    border-top: 1px solid white;
    line-height: 2;
    padding: 4%;
}

p {
    line-height: 1.2;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}


a {
    color: #55f;
}

a:visited {
    color: #66e;
}

#artManagement {
    margin: 8% auto;
    display: flex;
    flex-flow: column;
    width: 80%;
}

#currentArt {
    flex: 1;
    text-align: left;
}

#addPiece {
    flex: 3;
    text-align: right;
}

@media (max-width: 480px) {
    #artContainer {
        flex-flow: column;
    }
}
